<div class="container">
  <form (ngSubmit)="onSubmit()" #userForm="ngForm" class="add-user-form">
    <div class="form-group">
      <label for="">User Id</label>
      <input
        id=""
        type="text"
        placeholder="Enter User Id"
        ngModel
        name="userId"
        #userId="ngModel"
      />
    </div>
    <div class="form-group">
      <label for="">Name</label>
      <input
        id=""
        type="text"
        placeholder="Enter Name"
        ngModel
        name="name"
        #name="ngModel"
      />
    </div>
    <!-- <p class="question">Do you want to add bank?</p> -->

    <div class="radio-wrapper">
      <p>Do you want to add bank?</p>
      <label for="" *ngFor="let option of radioBtnOptions">
        <input
          type="radio"
          [value]="option"
          name="bankOption"
          #bankOption="ngModel"
          [(ngModel)]="selectedOption"
        />
        {{ option }}
      </label>
    </div>
    <div *ngIf="selectedOption == 'Yes'" class="form-group select-group">
        <p>select number of banks to add</p>
      <select name="bankCounts" [(ngModel)]="bankCount" id="">
        <option [value]="option" *ngFor="let option of bankCountOptions">
          {{ option }}
        </option>
      </select>
      
    </div>
    <div *ngIf="selectedOption == 'Yes' && bankCount>=1" class="bank-wrapper">
      <!-- ngModelGroup="bank_group" -->
      <div class="bank_card"  *ngFor="let i of getBankCountArray(); let index = index">
        <div class="form-group">
          <label for="">Bank {{index+1}}</label>
          <input
            [id]="'bankName_' + index"
            type="text"
            placeholder="Enter your bank name"
            ngModel
            [name]="'bankName_' + index"
            #bank="ngModel"
          />
        </div>
        <div class="form-group">
          <label for="">Amount</label>
          <input
            [id]="'amount_' + index"
            type="number"
            placeholder="Enter your initial amount"
            ngModel
            [name]="'amount_' + index"
            #amount="ngModel"
            autocomplete="off"
          />
        </div>
      </div>
      <!-- <app-bank-form *ngFor="let i of getBankCountArray();let index = index" [index]="index"></app-bank-form> -->
    </div>

    <div class="form-actions">
        
      <button type="submit" class="btn-primary">Submit</button>
      <small *ngIf="bankCount==3">Do you want to add more banks? <a href="/">click here</a></small>
    </div>
  </form>
</div>
